<!DOCTYPE html>
<html>
{% include 'HeadView.html.twig' %} 

<body>
{% include 'HeaderView.html.twig' %} 

    <div class="main_container">
        {% if paye == false %}
         <div class="screen">
         {{nomCoffret}} 
         <h4> Date d'ouverture prévu au : {{date}} </h4>
           <p> statut : En cours de création</p>
            prix : {{ prix }} €
   <a href="{{base_url()}}/EditBox/{{idBox}}"><button type="submit" class="boutton">Modifier Infos Coffret </button></a>

        
         </div>
			  
              {% else %}
                 <div class="screen">
                  <p>{{nomCoffret}}</p> 
                  <p>Prix : {{prix}} €</p>
                  <p>{{message}} </p>
                   {% if transmis %}
                   <p>Le coffret a été envoyé à son destinataire</p>
                   {% else %}
                   <p>Le coffret n'a pas encore été envoyé à son destinataire</p>
                   {% endif %}
                   
                   {% if ouvert %}
                   {% if messageRemer == "" %}
                     <p>Le coffret a été ouvert par le destinataire</p>
                      {% else %}
                     <p>Le coffret a été ouvert par le destinataire et à laisser le message suivant :</p>
                    <p>{{messageRemer}}</p>
                    {% endif %}
                   {% else %}
                  <p> Le coffret n'a pas été ouvert par le destinataire</p>
                   {% endif %}
                   

                  </div>
                
             {% endif %}

        <div class="grid_container_prestations">
            {% for values in info %}
            <div class ="detailsPrestations">
			<div class="grid_item_pres"><img src="{{base_url()}}/web/img/{{values[0]}}"/> 
            x{{values[1]}}
            
            </div>
            </div>
            {% endfor %}   
    </div>
             {% if paye == false %}
            <a href="{{base_url()}}/{{idBox}}/ConsultCatalogPurchase"><button class="boutton">Modifier Contenu</button></a>
            <a href="{{base_url()}}/{{idBox}}/Pay"><button class="boutton">Payer</button></a>
            {% else %}
            <a href="{{base_url()}}/{{idBox}}/ShareBox"><button class="boutton">URL de partage</button></a>
            {% endif %}
    </div>
</body>

</html>