<!DOCTYPE html>
<html>
{% include 'HeadView.html.twig' %} 

<body>
{% include 'HeaderViewEdit.html.twig' %} 

    <div class="main_container">
        {% if paye == false %}
         <div class="screen">
         {{nomCoffret}} 
         <h4> Date d'ouverture prévu au : {{date}} </h4>
            prix : {{ prix }} €
    <button type="submit" class="boutton"><a href="{{base_url()}}/EditBox/{{idBox}}">Modifier Infos Coffret</a></button>
        
         </div>
			 <button class="boutton"><a href="{{base_url()}}/{{idBox}}/ConsultCatalogPurchase">Modifier</a></button>  
              {% else %}
                 <div class="screen">
                  {{nomCoffret}} </BR>
                  {{message}} </BR>
                   {% if transmis %}
                   Le coffret a été envoyé à son destinataire
                   {% else %}
                   Le coffret n'a pas encore été envoyé à son destinataire
                   {% endif %}
                   </BR>
                   {% if ouvert %}
                   Le coffret a été ouvert par le destinataire
                   {% else %}
                   Le coffret n'a pas été ouvert par le destinataire
                   {% endif %}

                  </div>
                
             {% endif %}

        <div class="grid_container_prestations">
            {% for values in info %}
            <div class ="detailsPrestations">
			<div class="grid_item_pres"><img src="{{base_url()}}/web/img/{{values[0]}}"/> 
            x{{values[1]}}
            
            </div>
            </div>
            {% endfor %}   
            
    </div>
      
    </div>
</body>

</html>