<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}
    <div class="main_container">
       
        <hr/>
        <div class="tri">
            <p>Trier par : </p>
            <div class="select">
				<select id="tri" name="tri" onchange="tri(this.value)">
				<option value="0">défaut</option>
				<option value="1" name="tri">prix croissant</option>
				<option value="2" name="tri">prix décroissant</option>
				</select>
			</div>
        </div>
        <div class="container_buy">
            <div class="grid_container_prestations_buy">
                {% for prestations in listPrestations %}
                    <div class="tabPrestations">
                        <div class="grid_item_pres"><img src="{{base_url()}}/web/img/{{prestations['img']}}"/></div>
                        <p class='detailsPrestations'>{{prestations['nomPrestation']}}</p>
                        <p class='detailsPrestationsId'>{{prestations['idPrestation']}}</p>
                        <p class='detailsPrestationsCateg'>{{prestations['categorie']}}</p>
                        <p class='detailsPrestationsPrix'>{{prestations['prix']}}</p>
                        <i class="addButton_buy fas fa-plus-circle"></i>
                        <a class='detailsPrestationsLien' href='{{base_url()}}/Prestation/{{prestations['idPrestation']}}' target="_blank">Plus d'info</a>
                    </div>
                {% endfor %}
            </div>
            <div class="buyBar"></div>
            <div class="grid_container_buy">
                <div>
                    <p class="buy">-<span class="presta">Champagne</span> x<span class="nbPresta">2</span> : <span class="prixPresta">40</span></p>
                    <p class="buy">-<span class="presta">Hotel</span> x<span class="nbPresta">2</span> : <span class="prixPresta">60</span></p>
                    <p class="buy">-<span class="presta">Musique</span> x<span class="nbPresta">1</span> : <span class="prixPresta">40</span></p>
                </div>
                 <form class="formActuBox" action="" method="post">
                    <button type="submit" class="boutton">Sauvegarder</button>
                <form>
            </div>
        </div>
        <hr/>
    </div>
	<script type="text/javascript" src="{{base_url()}}/js/catalog.js"></script>
</body>
</html>