<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}

	<div class="main_container">
			{% if tokenBox == "" %}
			<div class="screen">
				<a href="{{base_url()}}/{{idBox}}/Pay"><button class="boutton">Paiement classique</button></a>
				<a href="{{base_url()}}/{{idBox}}/GeneratePot"><button type="submit" class="boutton">Payer via cagnotte</button></a>
        	</div>
			{% else %}
				<div class="share_container">
					<p>votre cagnotte : {{urlBox}}{{base_url()}}/{{tokenBox}}/ParticipatePot </p>
				</div>
			{% endif %}
    </div>
</body>
</html>