<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>
	{% include 'HeaderView.html.twig' %}
    <div class="main_container">
        <div class="triCat">
            <p>Sélectionner une catégorie :</p>
            <div class="selectCat">
				<select id="triSelectCat" name="triCat" onchange="triCategories(this.value)">
				    <option value="Défaut">Défaut</option>
                    {% for cat in listCateg %}
                        <option value={{cat['nomCategorie']}} name="triCat">{{cat['nomCategorie']}}</option>
                    {% endfor %}
				</select>
			</div>
        </div>
        <hr/>
        <div class="tri">
            <p>Trier par : </p>
            <div class="select">
				<select id="triSelect" name="tri" onchange="tri(this.value)">
				<option value="0">défaut</option>
				<option value="1" name="tri">prix croissant</option>
				<option value="2" name="tri">prix décroissant</option>
				</select>
			</div>
        </div>
        <div class="grid_container_prestations">
			{% for prestations in listPrestations %}
                <div class="tabPrestations tabPrestations_admin">
                    <a href='{{base_url()}}/Prestation/{{prestations['idPrestation']}}'>
                    <div class="grid_item_pres"><img src="{{base_url()}}/web/img/{{prestations['img']}}"/></div>
                    <p class='detailsPrestations'>{{prestations['nomPrestation']}}</p>
                    <p class='detailsPrestationsCateg'>{{prestations['categorie']}}</p>
                    <p class='detailsPrestationsPrix'>{{prestations['prix']}} €</p>
                    </a>
                    <form class="formEtatPrestation" action="" method="post">
                        <input type="hidden" id="idPrestation" name="idPrestation" value="{{prestations['idPrestation']}}"/>
                        {% if prestations['activation'] == 0 %}
                            <button type="submit" id="activatePrestation" name="activatePrestation" value="v"><i class="fas fa-check"></i></button>
                        {% else %}
                            <button type="submit" id="deactivatePrestation" name="deactivatePrestation" value="x"><i class="fas fa-times"></i></button>
                        {% endif %}
                    </form>
                </div>
            {% endfor %}
        </div>
        <hr/>
    </div>
	<script type="text/javascript" src="{{base_url()}}/js/catalog.js"></script>
</body>
</html>