<header>
	<div class="container_header">
		<nav class="nav_header_account">
			<ul class="list_grid_account">
				{% if nomMembre == "" %}
				<li>Bienvenue sur MyGiftBox </li>
				<li><a href="{{base_url()}}/Connection">Connexion</a></li>
				<li><a href="{{base_url()}}/CreateAccount">Inscription</a></li>
			</ul>
		</nav>
		
			<div class="pres_header">
			<h1>MyGiftBox</h1>
			<p class="descr_header">Concocter de fabuleux présents pour vos amis.</p>
		</div>
		 <nav class="nav_menu">
		 <ul class="list_grid_menu">
		<a class="homeButton fas fa-home" href="{{base_url()}}/"></a>
		<li ><a href="{{base_url()}}/ConsultCatalog">Consulter Catalogue</a></li>
		</ul>
		</nav>
				{% else %}
				<li class="li">Bienvenue sur MyGiftBox {{nomMembre}}</li>
				<li class="grid_item_header"><a href="{{base_url()}}/MyAccount">Mon Compte</a></li>
				<li class="grid_item_header"><a href="{{base_url()}}/Exit">Déconnexion</a></li>
		</nav>
		</ul>
			<div class="pres_header">
			<h1>MyGiftBox</h1>
			<p class="descr_header">Concocter de fabuleux présents pour vos amis.</p>
		</div>
		<nav class="nav_menu">
		<ul class="list_grid_menu">
			<a class="homeButton fas fa-home" href="{{base_url()}}/HomeConnect"></a>
			<li ><a href="{{base_url()}}/ConsultCatalog">Consulter Catalogue</a></li>
			<li><a href="{{base_url()}}/CreateBox">Créer Un Coffret</a></li>
			<li><a href="{{base_url()}}/HomeConnect">Voir Vos Coffrets</a></li>
			{% if role == 1 %}
				<li><a href="{{base_url()}}/AdminPrestations">Admin Prestations</a></li>
			{% endif %}
		</ul>
		</nav>
				{% endif %}
		
		<hr/>
	</div>
</header>