<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}

	<div class="main_container">
        <h2> Vos derniers Coffrets</h2>
		 <div class ="grid_container_prestations">
		 {% for values in variables %}
		 <div class ="detailsPrestations">
		 
			<p> {{values[0]}}</p> 
			<div class="grid_item_pres"><img src="{{base_url()}}/web/img/{{values[1]}}"/></div>
			<form class="formMenu" action="" method="post">
			
			<button class="boutton"><a href="{{base_url()}}/EditBox/{{values[2]}}">Voir</a></button>
			<button class="boutton"><a href="{{base_url()}}/Pay">Payer</a></button>
		</div>
         {% endfor %} 
			</div> 
         		 
		
    </div>
</body>
</html>