<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}

	<div class="main_container">
        <h2> Vos derniers Coffrets</h2>
		 <div class ="grid_container_homeConnect">
		 {% for values in variables %}
		 <div class ="detailsBox">
		 
			<p> {{values[0]}}</p> 
			<div class="grid_box_pres"><img src="{{base_url()}}/web/img/{{values[1]}}"/></div>
			
			
			<button class="boutton"><a href="{{base_url()}}/ViewBox/{{values[2]}}">Voir</a></button>
			{% if values[3] == 0 %}
				<button class="boutton"><a href="{{base_url()}}/{{values[2]}}/Pay">Payer</a></button>
			{% else %}
				
				<button type="submit" class="boutton"><a href="{{base_url()}}/{{values[2]}}/ShareBox">URL de partage</a></button>
		
			{% endif %}
		</div>
         {% endfor %} 
			</div> 
         		 
		
    </div>
</body>
</html>