<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}
    <div class="main_container">
        <h2>Vous avez reçu un coffret cadeau de {{nameOfMember}} {{name}} ! ({{mail}})</h2>
        {% if isBusiness %}
            <div class="main_containLinkBox">
                <p>{{mesageBox}}</p>
                <h2>Contenu du coffret {{nameBox}} : </h2>

                <div class="containLinkBox">
                        {% for prestation in tabPrestations %}
                            <div class="itemPay">
                                <div class="grid_item_link"><img src="{{base_url()}}/web/img/{{prestation[2]}}"/></div>
                                <p id="nomPrestation">{{prestation[0]}}</p>
                                <p>{{prestation[1]}}</p>
                                <p>x{{prestation[3]}}</p>
                            </div>
                        {% endfor %}
                    </div>

                <form action="" method="post" class="formLinkBox">
                    {% if messageThanksBox == "" %}
                        <p>Remerciez votre ami</p>
                        <input type="text" class="msgRemerciement" name="msgRemerciement" placeholder="Saisissez votre message" required/>
                        <button type="submit" class="boutton">Envoyer</button>
                    {% else %}
                        <p>Votre message : </p>
                        <p>"{{messageThanksBox}}"</p>
                    {% endif %}
                </form>
            </div>
        {% else %}
            <div class="main_containLinkBox">
                <p>Un ami vous a offert un coffret secret vous découvrirez son contenu après le {{dateOpenBox|date('d/m/Y')}}</p>
            </div>
        {% endif %}
    </div>

</body>
</html>