<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}

    <div class="main_container">
        <h2>Vous avez reçu un coffret cadeau !</h2>
        {% if estOuvrable %}
            <div class="main_containLinkBox">
                <p>"{{messageCoffret}}"</p>
                <p>Contenu du coffret {{nomCoffret}} : </p>

                <div class="containLinkBox">
                        {% for p in listBox %}
                            <div class="itemPay">
                                <div class="grid_item_pres"><img src="{{base_url()}}/web/img/{{p[2]}}"/></div>
                                <p id="nomPrestation">{{p[0]}}</p>
                                <p>{{p[1]}}</p>
                                <p>x{{p[3]}}</p>
                            </div>
                        {% endfor %}
                    </div>

                <form action="" method="post" class="formLinkBox">
                    {% if msgRemerciement=="" %}
                        <p>Remerciez votre ami</p>
                        <input type="text" class="msgRemerciement" name="msgRemerciement" placeholder="Saisissez votre message" required/>
                        <button type="submit" class="boutton">Envoyer</button>
                    {% else %}
                        <p>Votre message : </p>
                        <p>"{{msgRemerciement}}"</p>
                    {% endif %}
                </form>
            </div>
        {% else %}
            <div class="main_containLinkBox">
                <p>Un ami vous a offert un coffret secret vous découvrirez son contenu après le {{date|date('d/m/Y')}}</p>
            </div>
            
        {% endif %}
        
    </div>

</body>
</html>