<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

    {% include 'HeaderView.html.twig' %}

    <div class="main_container myaccount">
        <div class="infoMembre">
            <h2>Mes informations : </h2>
            <p>Nom :  {{nom}}</p>
            <p>Prénom : {{prenom}} </p>
            <p>Mail : {{mail}}</p>

            <button class="boutton">Modifier mes informations</button>
        </div>
        <div class="modifMembre">
            <h2>Modifier : </h2>
            <form class="formMenu formMembre" action="" method="post">
                <label for="nom" id="labelnom">Nom : </label>
                <input type="text" name="nom" id="nom" placeholder="{{nom}}"/>

                <label for="prenom" id="labelmdp">Prénom : </label>
                <input type="text" name="prenom" id="prenom" placeholder="{{prenom}}"/>

                <label for="email" id="labelemail">Mail : </label>
                <input type="text" name="email" id="email" placeholder="{{mail}}"/>

                <label for="mdp" id="labelmdp"> Mot de passe : </label>
                <input type="password" name="mdp" id="mdp"placeholder="Mot de passe..."/>
                <button type="submit" class="boutton">Valider</button>
                <br><br>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{{base_url()}}/js/account.js"></script>
</body>
</html>