<!DOCTYPE html>
<html>
	{% include 'HeadView.html.twig' %}
<body>

	{% include 'HeaderView.html.twig' %}
    <div class="main_container">
        <div class="flex_prestation">
            <div class="imgPrestation"><img src="{{base_url()}}/web/img/{{picturePrestation}}"/></div>
            <div class="flex_detailsPrestation">
                <div class="nomPrestation">{{namePrestation}}</div>
                <div class="categoriePrestation">{{categoryPrestation}}</div>
                <div class="descrPrestation">{{descriptionPrestation}}</div>
                <div class="prixPrestation">{{pricePrestation}} €</div>
            </div>
        </div>
    </div>

</body>
</html>